[Unit]
Description=ChirpStack Packet Multiplexer
Documentation=https://github.com/chirpstack/packet-multiplexer
After=network-online.target
Wants=network-online.target
Before=sx1302_forwarder.service

[Service]
User=root
ExecStart=/usr/local/bin/packet-multiplexer --config /etc/chirpstack-pktmux/packet-multiplexer.toml
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
